.App{
  padding: 1rem 3rem;
}

@font-face {
  font-family: 'NeutraText';
  src: url('./fonts/Neutra Text Book.otf') format('opentype');
}

body {
  font-family: 'NeutraText', sans-serif !important;
}
